.cell {
    border: 2px solid;
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: xx-large;

    &:hover {
        background-color: #cdd9ef;
        color: rgb(54, 53, 55);
    }
}