form {
    margin-right: 1rem;
}

.landing-header {
    font-size: x-large;
    margin-bottom: 0.75rem;
}

.landing-cta {
    opacity: 75%;
    margin-bottom: 1.5rem;
}

.adventurer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-height: 100%;
}